html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: #373737;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #a8a8a8;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #666666;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: linear-gradient(to bottom right, #01FF70, #0074D9);
	/*background: linear-gradient(to bottom right, #C0B283, #DCD0C0);*/
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.table {
	height: 600px;
	width: 33%;
	margin: 1rem 2rem 1rem 2rem;
	/*background-color: #F4F4F4;*/
	border-radius: 30px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	/*justify-content: space-between;*/
}

.toDo {
	background-color: #FFCE00;
}

.doing {
	background-color: #afcbe7;
}

.testing {
	background-color: #B56969;
}

.complete {
	background-color: #93fed2;
}

.doing .tasks, .testing .tasks, .complete .tasks {
	height: 460px;
	padding-bottom: 20px;
}

.header {
	width: 100%;
	height: 40px;
	padding-top: 30px;
	text-align: center;
	font-size: 2rem;
	text-shadow: 1px 1px 2px #000000;
}

.header p{
	margin: 0;
}

.tasks {
	height: 380px;
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: auto;
}

.task, .description {
	width: 520px;
	margin: 0.25rem;
	font-size: 1.2rem;
	background-color: #fed28a;
	border-radius: 10px;
	word-wrap: break-word;
}

.task {
	padding: 1rem 2rem 1rem 2rem;
}

.task:hover {
	cursor: pointer;
}

.descriptionForm {
	position: absolute;
	top: 200px;
	width: 350px;
	height: auto;
	background-color: white;
	border: 1px solid black;
	margin: auto;
	z-index: 10;
	text-align: center;
	padding: 16px;
	display: flex;
	flex-direction: column;
}

.description {
	margin: 0;
	margin-top: 17px;
	padding: 0;
	font-size: 1rem;
	display: none;
}

.descriptionForm button {
	margin-top: 16px;
	width: 50px;
}

/*.descriptionHide {
	display: none;
}*/

.descriptionShow {
	display: inline-block;
}

.addDescription, .delete {
	width: 25px;
	height: 25px;
	line-height: 25px;
	float: right;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	/*padding: 0 0.3rem 0 0.3rem;*/
	margin-left: 1rem;
	text-align: center;
}

.addDescription {
	font-size: 2rem;
}

.addDescription:hover {
	cursor: pointer;
	background-color: #0074D9;
}

.addedDescription {
	display: none;
	width: 25px;
	height: 25px;
	line-height: 25px;
	float: right;
	/*padding: 0 0.3rem 0 0.3rem;*/
	margin-left: 1rem;
	text-align: center;
}

.showAdded {
	display: inline-block;
}



.delete:hover {
	cursor: pointer;
	background-color: #CD0000;
}

.add {
	width: 100%;
	height: 100px;
	/*padding: 50px;*/
	padding-top: 30px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.addForm {
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.addForm span {
	font-size: 1.4rem;
}

.taskInput {
	width: 300px;
	border-radius: 10px;
	border: darkgrey solid 1px;
	padding: 0.8rem;
	font-size: 1.1rem;
}

input[type="text"], button { 
    outline: none;
}

.addButton {
	padding-top: 20px;
	padding-right: 50px;
}

.addButton button {
	background-color: #0074D9;
	/*background-color: #C0B283;*/
	float: right;
	font-size: 1.5rem;
	color: white;
	border: none;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.addButton button:hover {
	background-color: #001f3f;
	/*background-color: #373737;*/
	cursor: pointer;
}

.addButton button:active {
	background-color: #001f3f;
	transform: translateY(1px);
	-webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}

@media all and (max-width: 767px) {
    .toDoList {
    	width: 300px;
    	height: 460px;
    	margin: auto;
    	border-radius: 10px;
    }
    .header {
    	width: 300px;
    	font-size: 1.5rem;
    }
    .add {
		padding: 10px 5px 10px 10px;

		width: 280px;
	}
	.taskInput {
		width: 200px;
		border-radius: 10px;
		border: darkgrey solid 1px;
		padding: 0.5rem;
		font-size: 1rem;
	}
	.addButton button {
		font-size: 1rem;
	}
}